{% extends 'base.html' %}

{% block content %}
<div class="hover:place-items-center  mt-18 size-96 bg-slate-300 justify-center items-center ml-96">
  <h2 class="text-4xl font-extrabold dark:text-black ml-8 mt-4 pl-12">Food Items</h2>
  <p class="text-2xl pb-2 pl-8">Total Calories: {{ total_calories }}</p>
  <ul class="text-xl pl-3 pb-2">
    {% for item in food_items %}
      <li>{{ item.name }} - {{ item.calories }} calories 
      <div class="text-red-700">
      <a href="{% url 'remove_food' item.id %}">Remove</a></div></li>
    {% empty %}
      <li>No food items</li>
    {% endfor %}
  </ul>
  <a href="{% url 'reset_calories' %}" class="text-xl text-red-700">Reset Calories</a>
</div>
{% endblock %}

   
